

/* Pagination [Start] */

.paginate_current_page{
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #252729;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.paginate_current_page:hover{
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #252729;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

/* Pagination [End] */

